<%= form_with(model: @user, local: true ) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %>個のエラーがあります。</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "プロフィール画像" %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label "メールアドレス" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label "パスワード" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label "パスワード再入力" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>