<h1>新規登録</h1>

<%= form_with(model: @user, local: true) do |f| %>  
  <%= f.label "名前" %>
  <%= f.text_field :name %>

  <%= f.label "プロフィール画像" %>
  <%= f.file_field :image %>

  <%= f.label "メールアドレス" %>
  <%= f.email_field :email %>

  <%= f.label "パスワード" %>
  <%= f.password_field :password %>

  <%= f.label "パスワード再入力" %>
  <%= f.password_field :password_confirmation %>

  <p><%= f.submit "アカウントを作成" %></p>
  <p><%= link_to "登録済みの方はこちら", sessions_new_path %></p>
<% end %>